<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/producto">producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ofertas">ofertas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/quiensomos">quien somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/carrito">carrito</a>
          </li> 
      </ul>
    </div>
  </div>
</nav>
  
